.gpt3__blog{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap:1rem
}
.gpt3__blog h1{
    font-size: 62px;
    font-weight: 800;
    line-height: 75px;
}
.gpt3__blog_images{
    display: grid;
    min-width: 100%;
    height: 100%;
    grid-template-columns: 1.5fr 1fr 1fr;
    gap: 1rem
}

 .gpt3__blog_images_image1{
  grid-row: span 2;

} 

.gpt3__blog_images_image1 .gpt3__article-description h5{
    margin-bottom: 1rem;
    justify-self: flex-end;
}
@media screen and (max-width:550px){
    .gpt3__blog_images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;

    }
    .gpt3__blog_images_image1{
        width:100%;
        padding: 0
    }

    .gpt3__blog h1{
        font-size: 50px; line-height: 62px
    };
    
}
@media screen and (max-width:950px){
    .gpt3__blog_images{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width:100%;
        height: 100%;

    }
    .gpt3__blog_images_image1{
        width:100%;
        padding: 0
    }
    
}