* {
    margin: 0;
    padding: 4rem;
    box-sizing: border-box;

}


section {
    position: relative;
    width: 40%;
    height: 50vh;
    display: grid;
    align-content: center;
}

section h2 {

    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 100%;
    font-size: 30px;
    color: #fff;
    font-weight: 800;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;

}

.banner .blocks {
    position: relative;
    display: block;
    border: 0.002px solid rgba(0, 40, 83, 0.1);
    width: 5vw;
    height: 5vh;
    padding: 5px;
    animation: animateImg 0.75s ease-in-out forwards;

}

.banner .blocks:nth-child(even) {
    animation: animateImg 1.5s ease-in-out forwards;

}

.banner .blocks:nth-child(7n+3) {
    animation: animateImg 2.5s ease-in-out forwards;

}

.banner .blocks:nth-child(7n+7) {
    animation: animateImg 2s ease-in-out forwards;

}


@keyframes animateImg {
    0% {
        opacity: 1;
        transform: top(0) scale(0) translateY(1000px);

        

            color: transparent;
        


    }

    50% {
        opacity: 1;
        background: url('ai.png');
        background-position: center;
        background-attachment: fixed;
        color: white
    }

    100% {
        opacity: 1;
        transform: top(0) scale(1) translateY(0px);
        background: url('ai.png');
        background-position: center;
        background-size: 100% 100%;
        background-attachment: fixed;
        color: transparent
    }



}



@media screen and (max-width:1100px) {
    section {
        position: relative;
        width: 100%;
        padding: 4rem 6rem;
        height: 500px
    }

    ;

    .banner {
        width: 100%;
        height: 100%;
    }
    .banner .blocks{
        width: 15%;
        height: 15%;
    }
    section h2 {
        width: 100%;
        height: 100%;
        line-height: 100%;
    }

}