.gpt3__footer{
    background: var(--color-footer);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2rem
}

.gpt3__footer h1{
    font-size: 35px; 
    line-height: 45px ;
}
.gpt3__footer-button{
    display: block;
}
.gpt3__footer button{
    background: transparent;
    border:1px solid #fff;
    color: #fff;
    padding:1rem;
    height:5rem;
    border-radius: 10px;
    font-size: 20px;
    line-height: 30px;
}


@media screen and(max-width:550px) {
    .gpt3__footer h1{
        font-size: 50px; line-height: 72px
    }
    
}
